p {
  color: blue;
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  background-image: url("http://getwallpapers.com/wallpaper/full/8/a/9/1130836-download-free-sad-backgrounds-3840x2160-for-iphone-5.jpg");
  background-size: auto;
}

#form {
  background: rgba(255, 255, 255, 1);
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 35px;
}
